
<tr>
	<td style="width:70%;">
		<h5>
			<span class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></span>
			<span>{{ title }}</span>
			{% if now is defined %}<span class="label label-success">{{now}} nouveaux</span>{% endif %}
		</h5>
	</td>
	<td>
		<a href="" role="button" class="btn" style="width:100%;background-color:#373743;color:#fff;">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			<span>Ouvrir {% if total is defined %}<span class="badge">{{ total }}</span>{% endif %}</span>
		</a>	
	</td>
	<td>
		<a href="" role="button" class="btn btn-default" style="width:100%;">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			<span>Nouveau</span>
		</a>
	</td>
</tr>