<form method="post" action="Disques/update">
	<fieldset>
		<legend>Ajouter/modifier un disque</legend>
		<div class="alert alert-info">Disques : {{disque.toString()}}</div>
		<div class="form-group">
			<input type="hidden" name="id" value="{{disque.getId()}}">
			<input type="hidden" name="idUtilisateur" value="{{ idUtilisateur }}">
			<input type="text" name="nom" value="{{disque.getNom()}}" placeholder="Entrez le nom du disque" class="form-control" {{disabled}}>
		</div>
		<div class="form-group">
			<input type="submit" value="Valider" class="btn btn-default">
			<a class="btn btn-default" href="{{config["siteUrl"]}}users">Annuler</a>
		</div>
	</fieldset>
</form>
